@model IEnumerable<CheeseMVC.Models.Menu>

<h1>Menus</h1>

<ul>
    @foreach (var menu in Model)
    {
        <li>
            <a aso-controller="Menu" asp-action="ViewMenu" asp-route-id="@menu.ID">@menu.Name</a>
        </li>
    }
</ul>

<p><a asp-controller="Menu" asp-action="add">Add</a></p> 